/*
  Grid-ifies the dashboard in a 2x2 cell structure
  - uses css-grid spec to split up at least a set of 4 divs evenly
    through the users viewport in 2 lines of code. amazing!
 */
.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "header header"
    "content content";
  grid-auto-rows: 1fr;
  min-height: 0;
  min-width: 0;

  & > *:first-child {
    grid-area: header;
  }
}
