/*
  Grid-ifies the dashboard in a 2x2 cell structure
  - uses css-grid spec to split up at least a set of 4 divs evenly
    through the users viewport in 2 lines of code. amazing!
 */
.grid {
  display: grid;
  grid-template-columns: 40% 30%;
  grid-template-areas:
    "header header right"
    "left content right";
  grid-auto-rows: 1fr;
  min-height: 0;
  min-width: 0;

  & > aside {
    grid-area: sidebar;
  }

  & > [data-grid-area] {
    &[data-grid-area="header"] { grid-area: header; }
    &[data-grid-area="content"] { grid-area: content; }
    &[data-grid-area="left"] { grid-area: left; }
    &[data-grid-area="sidebar"] { grid-area: right; }
  }

  // & > *:first-child {
  //   grid-area: header;
  // }
}
